{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "import/extensions": "off",
    "no-console": "off",
    "prettier/prettier": ["error"],
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off"
  }
}
