on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: yarn install
      - run: yarn build
      - run: yarn scrape
        env:
          NODE_ENV: production
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload traces
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: traces
          path: traces/*.json
